{% extends "blog/blog_base.html" %}

{% block title %} 发布文章 {% endblock %}

{% block article %}
<form action="" method="post">
    {% csrf_token %} 
    <div class="field">
        {% if form.caption.errors %}
        <div class="alert alert-error">
            {{ form.caption.errors }}          
        </div>
        {% endif %}
        {{ form.caption }}   
    </div><br />
    <div class="field">
        {% if form.content.errors %}
        <div class="alert alert-error">
            {{ form.content.errors }}
        </div>
        {% endif %}
        {{ form.content }}   
    </div><br />
    <div class="field">
        {% if tag.tag_name.errors %}
        <div class="alert alert-error">
            {{ tag.tag_name.errors }}
        </div>
        {% endif %}
{#        {{ tag.tag_name }}#}
        {{ tag.tag_name }}
    </div>
    <div class="field col-sm-6" style="padding-left: 0;">
        {% if form.type.errors %}
        <div class="alert alert-error">
            {{ form.type.errors }}
        </div>
        {% endif %}
        {{ form.type }}
    </div>
    <div class="form-actions col-sm-6" style="padding-right: 0;">
        <button class="btn btn-wide btn-primary mrm" style=" float: right;" type="submit">保存</button>
    </div>
</form>
{% endblock %}
{% block script %}
  <script type="text/javascript">
{#$(document).ready(function(){#}
{#    $(".tagsinput").tagsInput(function(){#}
{#        $('#tagsinput').importTags('foo,bar,baz');#}
{#    });#}
{##}
{#    function callback_function(){#}
{#        alert("123");#}
{#    }#}
{#})#}
    $("select").selectpicker({style: 'btn-default btn-primary', menuStyle: 'dropdown-inverse'});
  </script>
  <style>
  ul.dropdown-menu{
      width: 100%;
  }
  </style>
{% endblock %}