{% extends "blog/blog_base.html" %}
{% load comments %}
{% load pagination_tags  %}
{% block title %}首页{% endblock %}
{% block article %}
<article class='content-main'>
    {% autopaginate blogs %}
    {% for blog in blogs %}
        <h4><a href="{% url 'detailblog' blog.id %}">{{ blog.caption }}</a></h4>
        <p class="text-muted">
			<span class="glyphicon glyphicon-tags"></span>
            {% for tag in blog.tags.all %}
                <i class="icon-tag"></i> <small>&nbsp;&nbsp;{{ tag }}</small>
            {% endfor %}
        </p>
        {% load markup %}
{#        <div style="height: 100px; overflow:hidden; text-overflow:ellipsis">{{ blog.content|markdown:'codehilite' }}</div>#}
{#        <div>{{ blog.content|slice:"300" }}</div>#}
        <div class="row">
            <div class="col-sm-4">
                <p class="text-muted" style="margin-top:7px;"><span class="glyphicon glyphicon-time"></span><small class="text-muted"> {{ blog.publish_time| date:"F j, Y" }}</small></p>
            </div>
            
            <div class="col-sm-3 col-sm-offset-5">
                {% if user.is_authenticated %}
                    <a href="{% url 'delblog' blog.id %}" onclick="return confirm('你确认要删除吗?')" title="delete" class="btn btn-large text-danger"><span class="glyphicon glyphicon-trash"></span></a>
                    <a href="{% url 'updateblog' blog.id %}" title="edit" class="btn btn-large text-info"><span class="glyphicon glyphicon-edit"></span></a>
                {% endif %}
                {% get_comment_count for blog as comment_count %}
                <a href="{% url 'detailblog' blog.id %}#cmt" title="comment" class="btn btn-large text-success"><span class="glyphicon glyphicon-comment"></span> {{ comment_count }}</a>
            </div>
        </div>
    <hr>
    {% empty %}
	<h6 class="text-center">没有内容</h6>
    {% endfor %}
    {% paginate %}
</article>

{% endblock %}

{% block aside %}   
{% if user.is_authenticated %}
    <a class="btn" href="{% url 'addblog' %}">
    <span class="glyphicon glyphicon-pencil"></span>
    <i class="icon-plus"></i> 添加文章 </a>
{% endif %}
    {% block tags %}
        <div class="well">
            {% for tag in tags %}
            <span class="label"><a href="{% url 'filtrblog' tag.id %}" class="tag">{{ tag }}</a></span>
            {% endfor %}
        </div>
    {% endblock %}
{% endblock %}